<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vid16</title>
  </head>
  <body>
    <h1>vid 16 Passing Data Into Templates</h1>
    <h2>person.gohtml</h2>

    <h3>{{.Name}}</h3>
    <h3>{{.Age}}</h3>

  </body>
</html>
