<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vid17</title>
  </head>
  <body>
    <h1>vid 16 Methods In Templates</h1>
    <h2>methods.gohtml</h2>

    Input structure is : {{.}}

    <h1>{{.Name}}</h1>
    <h2>{{.Age}}</h2>
    <h3>{{.SomeProcessing}}</h3>fcn that returns a 7
    <h3>{{.AgeDbl}}</h3>fcn that dbls age
    <h3>{{.AgeDbl | .TakesArgs}}</h3>fcn that dbls val passed to it, age in this case

  </body>
</html>
