<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Using Templates</title>
  </head>
  <body>
    <h1>The meaning of Life - get from template file {{.}}</h1>
    <p>{{template "t_polarBear" .}}</p>
  </body>
</html>
