<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<title>Time Formatting</title>
	</head>
  <body>
    <h1>timeFormatting.gohtml</h1>
    <!-- data & functions will be passed into here from go file -  -->
    <h4>no timeformatting used here, just the time.Now() value passed in is displayed</h4><br />
    {{.}}

    <br /><h4>time formatting fcn 01-02-2006 used here</h4><br />
    {{fdateMDY .}}</li>

    <br /><h4>time formatting fcn kitchen used here</h4><br />
    {{kitchen .}}</li>

  </body>
</html>
