<!DOCTYPE html>
<html lang="en">
  <head>
		<meta charset="UTF-8">
		<title>Web Dev with Go</title>
	</head>
  <body>
    <h1>meaningOfLife.gohtml</h1>
    <!-- data will be passed into here from file use . to display the passed-in data -->
    <h2>The meaning of life : {{.}}</h2>
  </body>
</html>
