<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>vid17 {{.Title}}</title>
  </head>
  <body>
    <h1>Heading is input here as - {{.Heading}}</h1>

    Input structure is this : {{.}}

    <h3>Body templated input is this : {{.Body}}</h3>

  </body>
</html>
